.shop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 96px 0 250px;
  font-family: 'DM Sans';
  gap: 36px;

  &_title {
    font-size: 33px;
  }

  h3 {
    margin: 0;
  }

  &_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
  }
}
