.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 250px;

  &__header {
    margin: 16px 0 64px;
  }

  &__body {
    display: flex;
    flex-direction: column;

    &_title {
      font-size: 33px;
      font-family: 'DM Sans';
    }

    &_products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 55px;
    }
  }
}
