.post {
  display: flex;
  flex-direction: column;
  max-height: 488px;
  max-width: 450px;
  //   border: 1px solid red;

  &_img {
    width: 450px;
    max-height: 250px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    margin-bottom: 22px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;

    &_title {
      font-size: 20px;
      max-width: 400px;
      height: 60px;
      margin: 0;
    }
  }
}
