.baseButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 27px;
  padding: 0;
  color: #a18a68;
  // border: 1px solid black;
  // border-radius: 6px;
  background: rgb(255, 255, 255);

  font-size: 20px;
  font-family: 'DM Sans';
  font-weight: 400;
}
